.feedback {
    margin-top: 16px;
    font-weight: bold;
}

.card_container {
    background-color: #2A223A;
    padding: 2rem;
    border-radius: 12px;
    color: #E0E0F0;
    box-shadow: 10px 10px 32px -10px rgba(0, 0, 0, 0.75);
    min-width: 500px;
}

.card_question {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.button_row {
    display: flex;
    gap: 1rem;
}

.button_field {
    flex: 1;
    padding-top: 1rem;
}

.button_field button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    color: #E0E0F0;
    background-color: #6D28D9;
    transition: background-color 0.3s ease;
}

.button_field button.correct {
    background-color: #059669;
    color: white;
}

.button_field button.incorrect {
    background-color: #DC2626;
    color: white;
}